
<% if @volunteer_trainings.empty? %>
There are no volunteers for this training at this time.
<p><br>
<% else %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Volunteer</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @volunteer_trainings.each do |volunteer_training| %>
      <tr>
				<td><%= link_to volunteer_training.volunteer.name, volunteer_path(volunteer_training.volunteer) %> </td>
				<td><%= link_to volunteer_training.date.strftime("%B %d, %Y") %> </td>

      </tr>
    <% end %>
  </tbody>

</table>
<% end %>

