
<% if @department_trainings.empty? %>
There are no departments for this training at this time.
<p><br>
<% else %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Department</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @department_trainings.each do |department_training| %>
      <tr>
				<td><%= link_to department_training.department.name, department_path(department_training.department) %> </td>
	<td>
	<%= link_to raw("<i class='icon-trash'></i>"), department_training_path(department_training), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn-small btn-danger' %></td>

      </tr>
    <% end %>
  </tbody>

</table>
<% end %>

