
  <div class="well">
        <p><%= obj.shifts.size.zero? ? "No shifts yet" : pluralize(obj.shifts.size, 'shift') %> on this <%= "#{obj.class.to_s.downcase}" %></p>
  	<% unless @shifts.nil?||  @shifts.empty? %>
  		<%= render :partial => "partials/shift_list" %>
  	<% end %>
  </div>
  <div class="notes">
    <div class="note_form">
      <%= render :partial => "partials/shift_form" %>
    </div>
  </div>

