<% unless @shifts.nil?||  @shifts.empty? %>
  <div class="well">
    <%= render :partial => "partials/shift_list" %>
  </div>
<% end %>
  <div class="notes">
    <div class="note_form">
      <%= render :partial => "partials/shift_form" %>
    </div>
  </div>

