<% if @events.past.count() == 0 %>
  <h2> There Are No Past Events </h2>
<% else %>
  <h3>Recent Events</h3>
  <% @events.past.each do |event| %>
    <%= link_to event.program.name, event_path(event) %>&nbsp;&nbsp;&nbsp;&nbsp; <%= event.date.strftime("%B %d, %Y") %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "(Scan)", {:controller => "home", :action => "checkin", :event_id => event.id}%><br>
  <% end %> 
<% end %>