<% if @events.current.count() == 0 %>
  <h2> There Are No Events Today</h2>
  <% else %>
  <table>
    <tr>
      <td width="2000">
              <h3>Recent Events</h3>
      </td>
      
      <td width="180" align="center">
       <p> Student</p>
      </td>
       <td width="101" align="center">
       <p> Volunteer</p>
       </td>
    </tr>
    <table>
      <% @events.current.each do |event| %>
      <tr>
        <td>
        <%= link_to event.program.name, event_path(event) %>&nbsp;&nbsp;&nbsp;&nbsp; 
        </td>
        <td>
        <%= event.date.strftime("%B %d, %Y") %>&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
        <%=link_to image_tag("student_barcode.jpg", :width => 60, :height => 60), {:controller => "home", :action => 
      "checkin", :event_id => event.id}%><br>
        </td>
         <td>
        <%=link_to image_tag("volunteer_barcode.jpg", :width => 60, :height => 60), {:controller => "home", :action => 
      "checkin", :event_id => event.id}%><br>
        </td>
       <% end %> 
     </tr>
    </table>
  </table>
<% end %>